* {
  font-family: Arial, Helvetica, sans-serif;
}
.fs_menu {
  font-size: 24px;
}
.fs_menu_xl {
  font-size: 16px;
}
.fs_sub_menu {
  font-size: 14px;
}
.fs_carousel {
  font-size: 9px;
}
.fs_links_sm {
  font-size: 12px;
}
.fs_carousel_header {
  font-size: 26px;
}
.fs_section_links {
  font-size: 18px;
  color: black;
}
.carousel_button {
  width: 90px;
  height: 35px;
}
.carousel_text_box {
  top: 10px;
  left: 10px;
  width: 277px;
  height: 229px;
}
.carousel_button:hover {
  background-color: black;
  color: white;
}
.text_justify {
  text-align: justify;
}
.dropdown_menu:hover {
  color: black;
  font-weight: bold;
}
.carousel_caption {
  bottom: 70px;
}
@media screen and (min-width: 370px) and (max-width: 399px) {
  .fs_links_sm {
    font-size: 9px;
  }
  .fs_carousel {
    font-size: 14px;
  }
  .carousel_caption {
    width: 325px;
    left: 13px;
    bottom: 75px;
  }
  .carousel_btn {
    left: 40px;
  }
  .carousel_btn2 {
    left: 35px;
  }
}
@media screen and (min-width: 400px) and (max-width: 440px) {
  .carousel_caption_width {
    width: 346px;
    left: 5%;
  }
  .fs_carousel1 {
    font-size: 15px;
  }
  .carousel_btn {
    left: 14%;
  }
  .carousel_btn2 {
    left: 14%;
  }
}
@media screen and (min-width: 441px) and (max-width: 465px) {
  .carousel_caption_width {
    width: 390px;
    left: 5%;
  }
  .fs_carousel1 {
    font-size: 17px;
  }
  .carousel_btn {
    left: 14%;
  }
  .carousel_btn2 {
    left: 14%;
  }
}
@media screen and (min-width: 466px) and (max-width: 575px) {
  .carousel_caption_width {
    width: 462px;
    left: 5%;
    bottom: 15%;
  }
  .fs_carousel {
    font-size: 20px;
  }
  .carousel_btn {
    left: 14%;
  }
  .carousel_btn2 {
    left: 14%;
  }
  .carousel_cap {
    left: 7%;
  }
}
@media screen and (min-width: 1199px) {
  .offcanvas_menu {
    position: absolute;
    bottom: 20px;
  }
  .fs_menu_nav_xl {
    font-size: 14px;
  }
  .input_xl {
    width: 160px;
    height: 40px;
    background-color: #f1f1f1;
  }
  .fs_menu_xl {
    font-size: 14px;
  }
  .input_xl:hover {
    border: 1px solid black;
  }
}