* {
  font-family: Arial, Helvetica, sans-serif;
}
.fs_menu {
  font-size: 24px;
}
.fs_menu_xl {
  font-size: 16px;
}
.fs_sub_menu {
  font-size: 14px;
}
.fs_carousel {
  font-size: 9px;
}
.fs_links_sm {
  font-size: 12px;
}
.fs_carousel_header {
  font-size: 26px;
}
.fs_section_links {
  font-size: 18px;
  color: black;
}
.p_fs {
  font-size: 9px;
}
.carousel_button {
  width: 90px;
  height: 35px;
}
.carousel_text_box {
  top: 10px;
  left: 10px;
  width: 277px;
  height: 229px;
}
.carousel_button:hover {
  background-color: black;
  color: white;
}
.text_justify {
  text-align: justify;
}
.dropdown_menu:hover {
  color: black;
  font-weight: bold;
}
.carousel_caption {
  bottom: 70px;
}
.carousel2_header {
  font-size: 20px;
}
.carousel2_text {
  font-size: 13px;
}
.carousel_btn3 {
  left: 34%;
}
.carousel_btn4 {
  left: 34%;
}
.carousel_btn6 {
  left: 34%;
}
.banner_section1 {
  width: 277px;
  left: 7%;
  top: 5%;
}
.fs_banner_text {
  font-size: 10px;
}
.banner_button {
  width: 143px;
  height: 35px;
}
.fs_button {
  font-size: 12px;
}
.banner_btn {
  left: 23%;
}
.fs_links {
  font-size: 12px;
}
.product_banner1 {
  top: 5%;
}
@media screen and (min-width: 370px) and (max-width: 399px) {
  .fs_links_sm {
    font-size: 9px;
  }
  .fs_carousel {
    font-size: 14px;
  }
  .carousel_caption {
    width: 325px;
    left: 13px;
    bottom: 75px;
  }
  .carousel_btn {
    left: 40px;
  }
  .carousel_btn2 {
    left: 35px;
  }
  .carousel2_header {
    font-size: 22px;
  }
  .carousel2_text {
    font-size: 14px;
  }
  .carousel_btn6 {
    left: 30%;
  }
  .carousel_btn4 {
    left: 30%;
  }
  .carousel_btn3 {
    left: 30%;
  }
}
@media screen and (min-width: 400px) and (max-width: 440px) {
  .carousel_caption_width {
    width: 346px;
    left: 5%;
  }
  .fs_carousel1 {
    font-size: 15px;
  }
  .carousel_btn {
    left: 14%;
  }
  .carousel_btn2 {
    left: 14%;
  }
  .carousel2_header {
    font-size: 26px;
  }
  .carousel2_text {
    font-size: 16px;
  }
  .carousel_btn6 {
    left: 30%;
  }
  .carousel_btn4 {
    left: 30%;
  }
  .carousel_btn3 {
    left: 30%;
  }
  .banner_section1 {
    width: 350px;
  }
  .fs_banner_text {
    font-size: 13px;
  }
  .banner_btn {
    left: 30%;
  }
}
@media screen and (min-width: 441px) and (max-width: 465px) {
  .carousel_caption_width {
    width: 390px;
    left: 5%;
  }
  .fs_carousel1 {
    font-size: 17px;
  }
  .carousel_btn {
    left: 14%;
  }
  .carousel_btn2 {
    left: 14%;
  }
  .carousel2_header {
    font-size: 28px;
  }
  .carousel2_text {
    font-size: 18px;
  }
  .carousel_btn6 {
    left: 30%;
  }
  .carousel_btn4 {
    left: 30%;
  }
  .carousel_btn3 {
    left: 30%;
  }
  .banner_section1 {
    width: 350px;
    left: 11%;
  }
  .fs_banner_text {
    font-size: 13px;
  }
  .banner_btn {
    left: 24%;
  }
  .banner_button {
    width: 198px;
    height: 48px;
  }
  .fs_button {
    font-size: 17px;
  }
}
@media screen and (min-width: 466px) and (max-width: 575px) {
  .carousel_caption_width {
    width: 462px;
    left: 5%;
    bottom: 15%;
  }
  .fs_carousel {
    font-size: 20px;
  }
  .carousel_btn {
    left: 14%;
  }
  .carousel_btn2 {
    left: 14%;
  }
  .carousel_cap {
    left: 7%;
  }
  .carousel2_header {
    font-size: 32px;
  }
  .carousel2_text {
    font-size: 20px;
  }
  .carousel_btn6 {
    left: 30%;
  }
  .carousel_btn4 {
    left: 30%;
  }
  .carousel_btn3 {
    left: 30%;
  }
  .banner_section1 {
    width: 428px;
    left: 8%;
  }
  .fs_banner_text {
    font-size: 16px;
  }
  .fs_banner_header {
    font-size: 35px;
  }
  .banner_button {
    width: 220px;
    height: 54px;
  }
  .fs_button {
    font-size: 19px;
  }
}
@media screen and (min-width: 576px) and (max-width: 690px) {
  .carousel_caption_width {
    width: 230px;
    bottom: 15%;
  }
  .fs_carousel {
    font-size: 7px;
  }
  .carousel_btn {
    bottom: 10%;
  }
  .carousel_btn3 {
    left: 5%;
    top: 73%;
  }
  .carousel_btn4 {
    left: 5%;
    top: 64%;
  }
  .carousel_btn6 {
    bottom: 20%;
    left: 6%;
  }
  .carousel_cap {
    left: 7%;
  }
  .carousel_button {
    width: 54px;
    height: 22px;
    font-size: 7px;
  }
  .carousel_text_box {
    top: 15%;
  }
  .carousel2_header {
    font-size: 14px;
  }
  .carousel2_text {
    font-size: 7px;
  }
  .banner_section1 {
    width: 305px;
  }
  .fs_banner_header {
    font-size: 15px;
  }
  .fs_banner_text {
    font-size: 7px;
  }
  .fs_button {
    font-size: 7px;
  }
  .banner_button {
    width: 86px;
    height: 22px;
  }
  .banner_btn {
    left: 0%;
  }
}
@media screen and (min-width: 691px) and (max-width: 1279px) {
  .carousel1_box {
    width: 330px;
    bottom: 20%;
    left: 7%;
  }
  .carousel_button {
    width: 54px;
    height: 22px;
    font-size: 7px;
  }
  .carousel_text_box {
    width: 340px;
    top: 10%;
    left: 5%;
  }
  .fs_carousel {
    font-size: 12px;
  }
  .fs_carousel1 {
    font-size: 12px;
  }
  .fs_menu {
    font-size: 34px;
  }
  .carousel_button {
    width: 72px;
    height: 29px;
    font-size: 9px;
  }
  .carousel2_header {
    font-size: 14px;
  }
  .carousel2_text {
    font-size: 7px;
    text-align: justify;
  }
  .carousel_btn3 {
    left: 2%;
  }
  .carousel_btn4 {
    left: 2%;
  }
  .carousel_btn6 {
    left: 2%;
  }
  .banner_section1 {
    width: 305px;
  }
  .fs_banner_header {
    font-size: 20px;
  }
  .banner_button {
    width: 86px;
    height: 22px;
  }
  .fs_button {
    font-size: 7px;
  }
  .banner_btn {
    left: 0%;
  }
  .fs_banner_text {
    font-size: 7px;
  }
}
@media screen and (min-width: 1280px) {
  .p_fs {
    font-size: 18px;
  }
  .carousel1_box {
    width: 620px;
    bottom: 25%;
    left: 7%;
  }
  .carousel_button {
    width: 101px;
    height: 40px;
    font-size: 14px;
  }
  .carousel_text_box {
    width: 489px;
    top: 25%;
    left: 7%;
  }
  .fs_carousel {
    font-size: 12px;
  }
  .fs_carousel1 {
    font-size: 18px;
  }
  .fs_menu {
    font-size: 34px;
  }
  .fs_sub_menu {
    font-size: 18px;
  }
  .heading_section1 {
    font-size: 38px;
  }
  .banner_section1 {
    width: 450px;
  }
  .fs_banner_header {
    font-size: 30px;
  }
  .banner_button {
    width: 150px;
    height: 35px;
  }
  .fs_button {
    font-size: 15px;
  }
  .banner_btn {
    left: 0%;
  }
  .fs_banner_text {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .offcanvas_menu {
    position: absolute;
    bottom: 20px;
  }
  .fs_menu_nav_xl {
    font-size: 14px;
  }
  .input_xl {
    width: 160px;
    height: 40px;
    background-color: #f1f1f1;
  }
  .fs_menu_xl {
    font-size: 14px;
  }
  .input_xl:hover {
    border: 1px solid black;
  }
}
